<layout-sidebar>
    
    <h2>Lista de Clientes</h2>
    
    <!-- Buscador -->
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchText" nz-input placeholder="Ingrese un texto" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button (click)="searchCliente()" nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
      </ng-template>
    <nz-divider></nz-divider>

    <!-- Tabla -->
    <button nz-button nzType="primary" (click)="openDrawerNew()">Nuevo</button>
    <br /><br />
<nz-table #clientList [nzData]="datatable" [nzLoading]="loading$ | async">
    <thead>
        <tr>
            <th scope="col">#</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Identificacion</th>
        <th scope="col">Edad</th>
        <th scope="col">Genero</th>
        <th scope="col">Estado</th>
        <th scope="col">Maneja?</th>
        <th scope="col">Usa Lentes?</th>
        <th scope="col">Diabetico?</th>
        <th scope="col">Otra Enfermedad</th>
        <th scope="col">Descripcion Enfermedad</th>
        <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of datatable">
            <td>{{ item.idCliente }}</td>
        <td>{{ item.nombreCompleto }}</td>
        <td>{{ item.identificacion }}</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.genero }}</td>
        <td>{{ item.estado }}</td>
        <td><span nz-icon [nzType]="item.maneja ? 'check-circle' : 'close-circle'" nzTheme="outline"></span></td>
        <td>{{ item.usaLentes }}</td>
        <td>{{ item.diabetico }}</td>
        <td>{{ item.otraEnfermedad }}</td>
        <td>{{ item.descripOtraEnfermedad }}</td>
        <td>
            <button nz-button nzType="link" (click)="openDrawerEdit(item.idCliente)">Editar</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="link" (click)="deleteCliente(item.idCliente)">Eliminar</button>
        </tr>
    </tbody>
</nz-table>

</layout-sidebar>